<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Coloro</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <nav><a href="/login"></a>
        <div id="title">
            <h1> Coloro </h1>
        </div>
        <div class="navlink"><a href="/logout"> Log out</a></div>
    </nav>
    
    <section id="makeColor">
    <form id="colorForm" name="colorForm" action="/colors" method="POST" class="colorForm">
      <label for="name">Color Name: </label>
      <input id="colorName" type="text" name="name" placeholder="Color Rgb"/>
        <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="makeColorSubmit" type="submit" value="Make Color" />
    </form>
  </section>

    <div id="mainHolder">
        <h1 id="currColor"> Red </h1>

        <div id="controls">
            <ul>
                <li id="adElement" class="controlBox adElementC">
                    <div class="control">
                        <p> YOUR AD HERE </p>
                    </div>
                </li>
                <li id="newColor" class="controlBox">
                    <div class="control">
                        <p> New Color </p>
                    </div>
                </li>
                <li id="saveColor" class="controlBox">
                    <div class="control">
                        <p> Save Color </p>
                    </div>
                </li>
                <li id="hideSwatch" class="controlBox">
                    <div class="control">
                        <p> Hide Swatches </p>
                    </div>
                </li>
                <li id="tint" class="controlBox">
                    <div class="control">
                        <p> Tint </p>
                    </div>
                </li>
                <li id="lighten" class="controlBox">
                    <div class="control">
                        <p> Lighten </p>
                    </div>
                </li>
                <li id="adElement" class="controlBox adElementC">
                    <div class="control">
                        <p> YOUR AD HERE </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section id="main">
        <div class="domo">
            {{#if colors}} {{#each colors}}
            <div class="color">
                <h3 class="colorName">Name: {{this.name}}</h3>
            </div>
            {{/each}} {{else}}
            <h3 class="emptyColor"> No Swatches yet </h3>
            {{/if}}
        </div>
    </section>

    <div id="paletteHolder">
        <h2> Saved Colors </h2> <p style="margin: 0 0 10px 10px"> Click palette to copy color to clipboard</p>
        {{#if colors}} {{#each colors}}
                <button class='paletteBtn' title='{{this.name}}' style='background-color: {{this.name}}'> </button>
            {{/each}} {{else}}
            <h3 class="emptyColor"> No Swatches yet </h3>
            {{/if}}
    </div>
    
    <div id="aniMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
        <h3><span id="errorMessage"></span></h3><img id="dont" src="assets/img/dont.png" alt="dont finger" />
    </div>
    <script src="/assets/bundle.js"></script>
</body>

</html>
